
:root {
  --game-area-width: 50rem;
  --game-area-height: 50rem;
  --game-info-height: 6rem;
  --game-text-font-size: 3.2rem;
  --cell-font-size: 9rem;
  --reset-button-font-size: 2rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - var(--header-height));
  width: 100%;
  background-image: var(--light-color);
}
.game-area {
  display: flex;
  flex-direction: column;
  height: var(--game-area-height);
  aspect-ratio: 1;
}

.game-info {
  display: flex;
  height: var(--game-info-height);
}

.game-text-container {
  display: flex;
  justify-content: center;
  padding-left: 13%;
  align-items: center;
  font-size: var(--game-text-font-size);
  color: white;
  flex: 8.5 1 0;
  background:black;
  border-top-left-radius : 3vw;
  border-bottom-left-radius : 3vw;
}

.reset-button-container {
  display: flex;
  flex: 1.5;
  justify-content: center;
  align-items: center;
}

.reset-button-container button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: var(--reset-button-font-size);
  font-weight: var(--button-font-weight);
  border-top-right-radius : 3vw;
  border-bottom-right-radius : 3vw;
}

.game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - var(--game-info-height));
}
.game-board-flex {
  display: flex;
  height: 80%;
  aspect-ratio: 1;
}

.game-board {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--cell-font-size);
  border-right: 4px solid;
  border-bottom: 4px solid;
  cursor: pointer;
}
.cell span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(6) ~ * {
  border-bottom: none;
}
