@media (max-width: 1050px) {
  html{
    font-size: 10px;
  }
    :root {
    --header-text-flex: 8.5;
    --mode-button-flex: 1.5;
  }
}
@media (max-width: 750px) {
  html{
    font-size: 9px;
  }
  .main {
    padding-top: 10rem;
    align-items: start;
  }
}
@media (max-width: 550px) {
  :root{
  --header-height:10rem;
  --game-info-height:7rem;
  }
  html{
    font-size: 7px;
  }
  .main {
    padding-top: 10rem;
    align-items: start;
  }
}
